/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-2274 {
    /* 150px - 350px Top */
    padding: clamp(9rem, 30.95vw, 21.875rem) 1rem 0;
    overflow: hidden;
    position: relative;
    z-index: 10;
  }
  #hero-2274 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5.5rem;
  }
  #hero-2274 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 39.375rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
    position: relative;
    z-index: 10;
  }
  #hero-2274 .cs-title {
    /* 39px - 61px */
    font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.2em;
    width: 100%;
    max-width: 17ch;
    margin: 0 0 1rem;
    color: var(--bodyTextColorWhite);
    position: relative;
  }
  #hero-2274 .cs-text {
    /* 16px - 20px */
    font-size: clamp(1rem, 2.5vw, 1.25rem);
    line-height: 1.5em;
    width: 100%;
    max-width: 43.75rem;
    /* 28px - 40px */
    margin: 0 0 clamp(1.75rem, 4vw, 2.5rem);
    color: var(--bodyTextColorWhite);
    opacity: 0.8;
  }
  #hero-2274 .cs-button-solid {
    font-size: 1rem;
    text-align: center;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    /* clips corners of the before element */
    overflow: hidden;
    margin: 0;
    color: #fff;
    padding: 0 1.75rem;
    background-color: var(--primary);
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.75rem;
    position: relative;
    z-index: 1;
    transition: color 0.3s;
    border-radius: 25px;
  }
  #hero-2274 .cs-button-solid:before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #hero-2274 .cs-button-solid:hover {
    color: #fff;
  }
  #hero-2274 .cs-button-solid:hover:before {
    width: 100%;
  }
  #hero-2274 .cs-picture {
    width: 100%;
    /* 427px - 581px */
    max-width: clamp(26.6875rem, 50vw, 36.3125rem);
    height: auto;
    display: flex;
    align-items: flex-end;
    position: relative;
    z-index: 7;
  }
  #hero-2274 .cs-picture img {
    width: 100%;
    height: auto;
  }
  #hero-2274 .cs-image-group {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  #hero-2274 .cs-background {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
  }
  #hero-2274 .cs-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #hero-2274 .cs-background1:before {
    content: '';
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.72;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
  #hero-2274 .cs-background2 {
    height: 100vw;
    max-height: 30rem;
    flex: none;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #hero-2274 {
    padding-bottom: 9.375rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5.625rem;
  }
  #hero-2274 .cs-container {
    justify-content: flex-start;
    flex-direction: row;
  }
  #hero-2274 .cs-content {
    text-align: left;
    width: 53%;
    align-items: flex-start;
  }
  #hero-2274 .cs-picture {
    width: 56%;
    position: absolute;
    bottom: -4.0625rem;
    right: -1.875rem;
  }
  #hero-2274 .cs-image-group {
    flex-direction: row;
  }
  #hero-2274 .cs-background2 {
    width: 25vw;
    height: 100%;
    max-height: 100%;
    border-left: 2px solid #FFC219;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #hero-2274 {
    /* 100px - 172px */
    padding-bottom: clamp(6.25rem, 12vw, 10.9375rem);
  }
  #hero-2274 .cs-picture {
    width: 45%;
    /* same value as the padding, but opposite */
    bottom: calc(clamp(6.25rem, 12vw, 10.9375rem)*-1);
    /* 32px - 80px */
    right: clamp(2rem, 5vw, 5rem);
  }
  #hero-2274 .cs-background2 {
    width: 32.8125vw;
  }
}

/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #Hservices-2274 {
    width: 100%;
    padding: var(--sectionPadding);
    position: relative;
    z-index: 20;
  }
  #Hservices-2274 .cs-container {
    max-width: 80rem;
    margin: auto;
    position: relative;
    z-index: 1;
  }
  #Hservices-2274 .cs-card-group {
    width: 100%;
    max-width: 80rem;
    margin: 0;
    padding: 0;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 2rem;
  }
  #Hservices-2274 .cs-item {
    text-align: left;
    list-style: none;
    width: 100%;
    box-sizing: border-box;
    grid-column: span 12;
    position: relative;
    padding-right: 20px;
    z-index: 1;
    transition: background-color 0.3s, border-color 0.3s;
  }

  #Hservices-2274 .cs-item:last-of-type{
    
    padding-right: 0;
    
  }

  #Hservices-2274 .cs-item:last-of-type .cs-link {
    /* 32px - 80px top & bottom */
    /* 16px - 80px left & right */
    padding: 0 clamp(1rem, 4vw, 5rem);
    box-sizing: border-box;
    padding-top: 26px;
    padding-bottom: 25px;
    background-color: #72BF8A;
  }
  #Hservices-2274 .cs-item:last-of-type .cs-icon {
    width: 4rem;
    margin-bottom: 1.5rem;
  }
  #Hservices-2274 .cs-item:last-of-type .cs-h3 {
    font-size: 1.5625rem;
  }
  #Hservices-2274 .cs-item:last-of-type .cs-item-text {
    margin-bottom: 2rem;
  }
  #Hservices-2274 .cs-number {
    font-size: 4.5rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    color: var(--headerColor);
  }
  #Hservices-2274 .cs-fake-link {
    font-size: 1rem;
    line-height: 1.2em;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    padding: 0 0 0.25rem 0;
    border-bottom: 1px solid var(--primary);
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
  }
  #Hservices-2274 .cs-fake-link:hover{
    color: var(--primary);
    background-color: #fff;
    border-radius: 25px;
    height: 30px;
    width: 200px;
  }
  #Hservices-2274 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #Hservices-2274 .cs-background:before {
    content: '';
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #Hservices-2274 .cs-background img {
    width: 100%;
    height: 100%;
    opacity: 0.08;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #Hservices-2274 .cs-link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  #Hservices-2274 .cs-icon {
    width: 2.5rem;
    height: auto;
    margin: 0 0 1.25rem 0;
  }
  #Hservices-2274 .cs-h2 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2vw, 1.5625rem);
    font-weight: 700;
    text-align: inherit;
    line-height: 1.2em;
    margin: 0 0 0.5rem 0;
    color: var(--headerColor);
    transition: color 0.3s;
  }
  #Hservices-2274 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    text-align: inherit;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
    transition: color 0.3s, opacity 0.3s;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #Hservices-2274 .cs-card-group {
    width: 44%;
  }
  #Hservices-2274 .cs-item:last-of-type {
    width: 49%;
    position: absolute;
    right: 0;
    top: calc(clamp(10rem, 20vw, 12.5rem)*-1);
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #Hservices-2274 .cs-item:last-of-type {
    width: 37vw;
    max-width: 25rem;
  }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #Hservices-2274 {
    padding: 0;
  }
  #Hservices-2274 .cs-card-group {
    width: 53.75rem;
    padding: 3.75rem 0;
    column-gap: 1.25rem;
  }
  #Hservices-2274 .cs-item {
    grid-column: span 4;
  }
  #Hservices-2274 .cs-item:last-of-type {
    top: auto;
    bottom: 0;
  }
}
                                